#dashboard {
  display: flex;
  justify-content: space-between;
}

#table-inputs {
  margin-top: 32px;
  margin-right: 50px;
}

#table-inputs-title {
  text-align: center;
  font-size: 15px;
  margin: 0;
  margin-top: 5px;
  letter-spacing: 1.5px;
}

#app {
  margin-bottom: 80px;
}

.chart-container {
  display: flex;
  margin-top: 7px;
}

.chart {
  height: 400px;
  width: 400px;
}

.weight-table, .intercepts-table {
  margin-bottom: 10px;
}

.table {
  margin-top: 25px;
}

.table table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}

.table table td {
  padding: 15px;
}

.table table thead td {
  background-color: #54585d;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
  text-align: center;
}

.table table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}

.table table tbody tr {
  background-color: #f9fafb;
}

.table table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.training-failed td {
  color: #e74c3c !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.tick line {
  stroke: #59adeb;
  opacity: 0.5;
}

g path.domain {
  stroke: #4f4f4f;
}
